[Host]
http://localhost:{{ http_port }}

[Headers]
Content-Type: application/json

[Backend]
{{ backend_tool }}

[BackendOptions]
{% for backend_option in backend_options %}
{{ backend_option }}
{% endfor %}
